<% if session[:user].nil? %>
  <% form_for :user, :url => { :controller => "users", :action => "login" }, :html => { :method => :post } do %>
    <%= text_field_tag "username", "username" %><br />
    <%= password_field_tag "password", "password" %><br />
    <%= submit_tag "Login" %>
  <% end %>
<% else %>
  <div id="logout">
    Salutations <%= link_to User.find(session[:user]).first_name, :controller => "users", :action => "profile", :id => session[:user] %>! <%= link_to "Logout", :controller => "users", :action => "logout" %>
  </div>
<% end %>
