<div id="header">
  <ul id="nav">
    <li><%= link_to "Home", :action => "index", :controller => "browse" %></li>
    <li><%= link_to "What's Hot", :action => "hot", :controller => "browse" %></li>
    <li><%= link_to "New", :action => "new", :controller => "browse" %></li>
    <li><%= link_to "Saved", :action => "saved", :controller => "browse" %></li>
  </ul>
  <%= render :partial => "login" %>
</div>
