<h1>What's Hot</h1>
<% for artwork in @artworks %>
  <div class="entry" style="background-image: url(<%= artwork.image_url %>);">
    <div class="entry_details"
      <h3><%= link_to artwork.title, artwork_path(artwork) %></h3>
      <span>Votes: <em><%= artwork.votes %></em></span><br />
      <%= link_to "UpVizote", upvote_path(artwork.id) %>
    </div>
  </div>
<% end %>
<br class="clear" />
<%= will_paginate @artworks -%>
