<!DOCTYPE html> 
<html xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Reddit Arts Foundation <%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
</head>
  <body>
    <div id="container">
      <div id="content">
        <%= render :partial => "master/header" %>
        <div id="frame">
          <%= yield %>
        </div>
        <%= render :partial => "master/footer" %>
      </div>
    </div>
  </body>
</html>
